---
layout: "page"
---

- page "销售查询", "saleplate"

= partial 'layouts/widget/portal'

= partial :'layouts/partials/modal-portal-lg' do
  = partial 'modify'

/ 选择商品
- modal "选择商品", "product"
= partial :'layouts/partials/modal-portal-select-full' do
  = partial 'layouts/widget/service_product_select'
