- page "销售查询", "saleplate"

- content_for :toolbar do
  = partial :'layouts/buttons/insert'
  = partial :'layouts/buttons/removes'

- content_for :theader do
  - @page.listFields.each do |field|
    %th #{field.aliasName || field.fieldName}

- content_for :tbody do
  - @page.listFields.each do |column|
    %td
      = bind @page_id, (column.fieldKey || @fields[column.fieldName] || 'error')

= partial :'layouts/partials/modal-lg' do
  = partial 'modify'