.form-body
  .row
    .col-md-3
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '退货单号'}

    .col-md-3
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '总项'}

    .col-md-3
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '总金额'}

    .col-md-3
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '仓库', :options => "type.id as type.valueNameCn for type in dropdowns.warehouseIdSet", :change => "backstorageportal.onchange()"}

  .row
    .col-md-3
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '审核日期', :filter => "date:'yyyy年MM月dd日'"}

    .col-md-3
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '审核人'}

    .col-md-6
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '经销商'}

  .row
    .col-md-12
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '退货原因'}

/ Portal
- portal "入库商品清单", "backstoragedetail"
= partial :'layouts/widget/portal', :locals => {:filterbar => "none", :pagingbar => "none", :bordered => "false", :inline_toolbar => 'remove', :selection => "none" }
