---
layout: "page"
---

- page "美容服务", "beauty"

= partial 'layouts/widget/portal', :locals => {:inline_toolbar => 'view|update|remove', :inline_attr_disabled => "beauty.paidStatus == 'SM00051'"}

/  查看页面
= partial :'layouts/partials/modal-portal-view-full', :locals => {:modal_toolbar => 'close' } do
  = partial 'view'

= partial :'layouts/partials/modal-portal-full' do
  = partial 'modify'

/ 选择宠物
- modal "选择宠物", "pet"
= partial :'layouts/partials/modal-portal-select-lg', :locals => {:modal_toolbar => 'close' }  do
  - portal "选择宠物", "pet"
  = partial 'layouts/widget/portal', :locals => {:listdataKey=> "portalFields", :inline_toolbar => 'selected', :bordered => "false", :selection => "none"} do
    / 不输出按钮

- modal "添加宠物", "pet"
= partial :'layouts/partials/modal-portal-lg' do
  = partial 'views/commons/pet/portal_pet_form'

- modal "添加服务项目", "product"
= partial :'layouts/partials/modal-portal-full' do
  = partial 'views/commons/product/popup_select'
