/ BEGIN SAMPLE FORM PORTLET
.form-body
  .row
    .col-md-4
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '入库单号', :maxlength => '32', :required => 'true'}

    .col-md-4
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '总项', :maxlength => '32', :required => 'true'}

    .col-md-4
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '总金额', :maxlength => '32', :required => 'true'}

    .col-md-4
      = partial :'layouts/inputs/select', :locals => {:fieldName => '入库仓库', :options => "type.id as type.valueNameCn for type in dropdowns.warehouseIdSet", :change => "instorageportal.onchange()", :required => 'true'}

    .col-md-4
      = partial :'layouts/inputs/select', :locals => {:fieldName => '付款状态', :options => "type.id as type.valueNameCn for type in dropdowns.paidStatusSet"}

  .row
    .col-md-3
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '审核人', :maxlength => '32'}

    .col-md-3
      = partial :'layouts/inputs/date', :locals => {:fieldName => '审核日期', :maxlength => '32'}

    .col-md-3
      = partial :'layouts/inputs/text', :locals => {:fieldName => '备注', :maxlength => '32'}

    .col-md-3
      = partial :'layouts/inputs/text_btn', :locals => {:fieldName => '经销商', :maxlength => '32', :btnname => '选择', :btnclick => 'dealerportal.pupupselect()'}

.row
  .col-md-12
    = partial 'views/commons/product/product_autocomplete'

/ Portal
- portal "入库商品清单", "instoragedetail"
= partial :'layouts/widget/portal', :locals => {:filterbar => "none", :pagingbar => "none", :inline_toolbar => 'remove', :bordered => "false", :inline_toolbar => 'remove', :selection => "none"}
