/ BEGIN SAMPLE FORM PORTLET
.form-body
  .row
    .col-md-3
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '入库单号', :required => 'true'}

    .col-md-3
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '总项', :required => 'true'}

    .col-md-3
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '总金额', :required => 'true'}

    .col-md-3
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '入库仓库名称', :fieldKey => 'inWarehouse'}

  .row
    .col-md-3
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '审核人', :maxlength => '32'}

    .col-md-3
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '审核日期', :filter => "date:'yyyy年MM月dd日'"}

    .col-md-3
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '备注'}

    .col-md-3
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '经销商'}

/ Portal
- portal "入库商品清单", "instoragedetail"

= partial :'layouts/widget/portal_view', :locals => {:filterbar => "none", :pagingbar => "none", :inline_toolbar => 'none'} do
  / 不输出按钮

