/ BEGIN SAMPLE FORM PORTLET
.form-body
  .row
    .col-md-3
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '入库单号', :maxlength => '32', :required => 'true'}

    .col-md-3
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '总项', :maxlength => '32', :required => 'true'}

    .col-md-3
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '总金额', :maxlength => '32', :required => 'true'}

    .col-md-3
      = partial :'layouts/inputs/select', :locals => {:fieldName => '入库仓库', :options => "type.id as type.valueNameCn for type in dropdowns.warehousesSet", :change => "instorageportal.onchange()"}

  .row
    .col-md-3
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '审核人', :maxlength => '32'}

    .col-md-3
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '审核日期', :maxlength => '32'}

    .col-md-3
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '备注', :maxlength => '32'}

    .col-md-3
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '经销商', :maxlength => '32'}

/ Portal
- portal "入库商品清单", "instoragedetail"

= partial :'layouts/widget/portal_view', :locals => {:filterbar => "none", :pagingbar => "none", :inline_toolbar => 'none'} do
  / 不输出按钮

