---
layout: "page"
---

- page '入库管理', 'instorage'

= partial 'layouts/widget/portal', :locals => {:inline_toolbar => 'view|update|remove|auditing' }

/  编辑页面
= partial :'layouts/partials/modal-portal-full', :locals => {:modal_toolbar => 'close|submit|auditing' } do
  = partial 'modify'

/  编辑页面
= partial :'layouts/partials/modal-portal-view-full', :locals => {:modal_toolbar => 'close' } do
  = partial 'view'

/ 选择商品
- modal "选择商品", "product"
= partial :'layouts/partials/modal-portal-full' do
  = partial 'layouts/widget/service_product_select'

/ 选择供应商
- modal "选择供应商", "dealer"
= partial :'layouts/partials/modal-portal-full' do
  - portal "供应商", "dealer"
  = partial 'layouts/widget/portal', :locals => {:inline_toolbar => 'checked' } do
    / 不输出 outline 按钮


- inline_attr_show = nil

- puts "Test: " << ((defined? inline_attr_show) && (inline_attr_show || false) ? "true" : "false" )

