---
layout: "page"
---

- page '入库管理', 'instorage'

= partial 'layouts/widget/portal', :locals => {:inline_toolbar => 'view|update|remove|auditing' }

/  编辑页面
= partial :'layouts/partials/modal-portal-full', :locals => {:modal_toolbar => 'close|submit|auditing' } do
  = partial 'modify'

/  编辑页面
= partial :'layouts/partials/modal-portal-view-full', :locals => {:modal_toolbar => 'close' } do
  = partial 'view'

/ 选择商品
= partial 'layouts/widget/service_product_select'

/ 选择供应商
= partial :'layouts/widget/service_dealer_select'
