---
layout: "page"
---

- page '入库管理', 'instorage'

= partial 'layouts/widget/portal'

/  编辑页面
= partial :'layouts/partials/modal-portal-full' do
  = partial 'modify'

/ 选择商品
- modal "选择商品", "product"
= partial :'layouts/partials/modal-portal-full' do
  = partial 'layouts/widget/service_product_select'

/ 选择供应商
- modal "选择供应商", "dealer"
= partial :'layouts/partials/modal-portal-full' do
  - portal "供应商", "dealer"
  = partial 'layouts/widget/portal'

