---
layout: "page"
---

- page "直接销售", "saleplatedetail"

#operate_msg_box

-# vipheader
= partial 'views/commons/pet/sale_petheader'

.row
  .col-md-12
    .portlet
      .portlet-title
        .caption
          总项数:
          %label.label.label-success{:style => "padding-right: 10px;padding-left: 10px"}
            {{ saleplate.totalNum }}
          , 总金额:
          %label.label.label-danger{:style => "padding-right: 10px;padding-left: 10px"}
            {{ saleplate.totalCost | currency: "￥"}} 元

        .actions
          %button.btn.btn-success{:type => "button", "ng-click" => "saleplateportal.balance()"}
            %i.fa.fa-credit-card
            结算

      .portlet-body.portlet-empty
        .row
          .col-md-12
            = partial 'views/commons/product/product_autocomplete'

        -#表格
        - portal '直接销售', 'saleplatedetail'
        = partial 'layouts/widget/portal', :locals => {:filterbar => "none", :pagingbar => "none", :inline_toolbar => 'remove', :bordered => "false", :selection => "none" } do
          / 不输出按钮

/ 编辑界面
= partial :'layouts/partials/modal-lg' do
  = partial 'modify'

/ 结算
- modal "结算", "payment"
= partial :'layouts/partials/modal-portal-full', :locals => {:modal_toolbar => 'close|balance'}  do
  = partial 'payment'

/ 打印处方
- modal "收银小票", "saleplate"
= partial :'layouts/widget/modal_print_xs' do
  = partial 'print_body'

/ 选择会员
- portal "选择宠物", "pet"

/ 选择宠物
- modal "选择宠物", "pet"
= partial :'layouts/partials/modal-portal-select-lg', :locals => {:modal_toolbar => 'close' }  do
  - portal "选择宠物", "pet"
  = partial 'layouts/widget/portal', :locals => {:listdataKey=> "portalFields", :inline_toolbar => 'selected', :bordered => "false", :selection => "none"} do
    / 不输出按钮
