.form-body
  .row
    .col-md-3
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '调拨单号', :maxlength => '32', :required => 'true'}

    .col-md-2
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '总项', :maxlength => '32', :required => 'true'}

    .col-md-3
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '调拨金额', :maxlength => '32', :required => 'true'}

    .col-md-2
      = partial :'layouts/inputs/select', :locals => {:fieldName => '拨出仓库', :options => "type.id as type.valueNameCn for type in dropdowns.fromWarehouseIdSet", :change => "movestorageportal.onchange()"}

    .col-md-2
      = partial :'layouts/inputs/select', :locals => {:fieldName => '拨入仓库', :options => "type.id as type.valueNameCn for type in dropdowns.toWarehouseIdSet", :change => "movestorageportal.onchange()"}

  .row
    .col-md-3
      = partial :'layouts/inputs/text', :locals => {:fieldName => '审核人', :maxlength => '32'}

    .col-md-3
      = partial :'layouts/inputs/date', :locals => {:fieldName => '审核日期', :maxlength => '32'}

    .col-md-6
      = partial :'layouts/inputs/text', :locals => {:fieldName => '备注', :maxlength => '32'}

.row
  .col-md-12
    = partial 'views/commons/product/product_autocomplete'

  / Portal
- portal "入库商品清单", "movestoragedetail"

= partial :'layouts/widget/portal', :locals => {:filterbar => "none", :pagingbar => "none", :inline_toolbar => 'remove', :bordered => "false", :inline_toolbar => 'remove', :selection => "none"}