---
layout: "page"
---

- page '移库管理', 'movestorage'

= partial 'layouts/widget/portal'

/  编辑页面
= partial :'layouts/partials/modal-portal-full' do
  = partial 'modify'

/ 选择商品
- modal "选择商品", "product"
= partial :'layouts/partials/modal-portal-full' do
  = partial 'layouts/widget/service_product_select'
