---
layout: "page"
---

- page '库存查询', 'stock'

#operate_msg_box
.row
  .col-md-3
    - portal "仓库", "storage"
    = partial 'layouts/widget/side', :locals => {:name => "仓库", :id=> 'storage', :fieldName => "name"} do
      / 不输出按钮

  .col-md-9
    - portal '库存查询', 'stock'
    = partial 'layouts/widget/portal', :locals => {:inline_toolbar => 'update'}  do
      = partial :'layouts/buttons/insert', :locals => {:label => '缺货订单', :click => "stockportal.order()"}


= partial :'layouts/partials/modal-portal-lg' do
  = partial 'modify'

- modal "缺货订单", "order"
= partial :'layouts/partials/modal-portal-view-full' , :locals => {:modal_toolbar => "close"} do
  = partial 'order'