/ BEGIN SAMPLE FORM PORTLET
.row
  .col-md-3
    = partial 'layouts/widget/service_pet'

  .col-md-9
    -#寄养登记表单
    .row
      = partial :'layouts/inputs/hidden', :locals => { :fieldName => '宠物ID', :maxlength => '32', :required => 'true', "msg" => "宠物信息"}

      .col-md-3
        = partial :'layouts/inputs/text', :locals => { :fieldName => '寄养号', :maxlength => '16'}

      .col-md-3
        = partial :'layouts/inputs/select', :locals => {:fieldName => '寄养类型', :options => "type.itemCode as type.itemName for type in dropdowns.itemCodeSet"}
        -#, :change => "registerportal.selectchange('itemCode', 'itemCode')"

      .col-md-2
        = partial :'layouts/inputs/date', :locals => { :fieldName => '开始日期', :maxlength => '16'}

      .col-md-2
        = partial :'layouts/inputs/date', :locals => { :fieldName => '结束日期', :maxlength => '16'}

      .col-md-2
        = partial :'layouts/inputs/number', :locals => { :fieldName => '预计天数', :maxlength => '16', :required => "true"}

    .row
      .col-md-3
        = partial :'layouts/inputs/text', :locals => { :fieldName => '笼舍编号', :maxlength => '16', :required => "true"}

      .col-md-3
        = partial :'layouts/inputs/number', :locals => { :fieldName => '预付金', :maxlength => '16'}

      .col-md-2
        = partial :'layouts/inputs/number', :locals => { :fieldName => '价格', :maxlength => '16'}

      .col-md-2
        = partial :'layouts/inputs/select', :locals => {:fieldName => '主管人员', :options => "type.id as type.personName for type in dropdowns.managerIdSet"}

      .col-md-2
        = partial :'layouts/inputs/select', :locals => {:fieldName => '业务员', :options => "type.id as type.personName for type in dropdowns.manufacturerIdSet"}

    .row
      .col-md-12
        = partial :'layouts/inputs/textarea', :locals => { :fieldName => '备注', :maxlength => '16'}

    .tabbable-line
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "//#fosterage_consume"} 寄养期间消费

        %li
          %a{"data-toggle" => "tab", :href => "//#fosterage_prepay"} 预付金记录

        -#%li
        -#  %a{"data-toggle" => "tab", :href => "//#fosterage_health"} 健康状态记录

      .tab-content
        -#寄养期间消费
        #fosterage_consume.tab-pane.active
          .row
            .col-md-12
              = partial 'views/commons/product/product_autocomplete'

          - portal "寄养期间消费", "fosteragedetail"
          = partial 'layouts/widget/portal', :locals => {:filterbar => "none", :pagingbar => "none", :inline_toolbar => 'remove', :bordered => "false", :selection => "none" } do
            // 不输出按钮

        -#预付金记录
        #fosterage_prepay.tab-pane
          - portal "预付金额记录", "vipprepay"
          = partial 'layouts/widget/portal', :locals => {:filterbar => "none", :pagingbar => "none", :inline_toolbar => 'remove' }

        -#-#健康状态记录
        -##fosterage_health.tab-pane
        -#  - portal "健康状态记录", "fosteragehealth"
        -#  = partial 'layouts/widget/portal', :locals => {:filterbar => "none", :pagingbar => "none", :inline_toolbar => 'remove' }
        -#
