/ BEGIN SAMPLE FORM PORTLET
.portlet.light.bordered
  .portlet-title
    .caption
      %i.fa.fa-user
      %span.caption-subject.font-dark.sbold.uppercase 会员信息
    .actions
      = partial :'layouts/buttons/insert', :locals => {:click => 'vipportal.insert()', :label => '新增主人'}
      = partial :'layouts/buttons/btn_find', :locals => {:click => 'vipportal.pupupselect()', :label => '选择主人'}

  .portlet-body.form
    .form-body
      .row
        .col-md-2
          = partial :'layouts/inputs/textview', :locals => {:keyword => 'vip', :fieldName => '会员编号', :maxlength => '32', :required => 'true'}
        .col-md-2
          = partial :'layouts/inputs/textview', :locals => {:keyword => 'vip', :fieldName => '会员姓名', :maxlength => '32'}
        .col-md-2
          = partial :'layouts/inputs/textview', :locals => {:keyword => 'vip', :fieldName => '会员性别', :labelName =>"valueNameCn", :maxlength => '32'}
        .col-md-2
          = partial :'layouts/inputs/textview', :locals => {:keyword => 'vip', :fieldName => '会员电话', :maxlength => '16'}
        .col-md-2
          = partial :'layouts/inputs/textview', :locals => {:keyword => 'vip', :fieldName => '会员等级', :labelName =>"levelName", :maxlength => '32'}
        .col-md-2
          = partial :'layouts/inputs/textview', :locals => {:keyword => 'vip', :fieldName => '账户金额', :maxlength => '16'}


