
/ 选择宠物
- modal "选择宠物", "pet"
= partial :'layouts/partials/modal-portal-select-lg', :locals => {:modal_toolbar => 'close' }  do
  - portal "选择宠物", "pet"
  = partial 'layouts/widget/portal', :locals => {:listdataKey=> "portalFields", :inline_toolbar => 'selected', :bordered => "false", :selection => "none"} do
    / 不输出按钮

/ 添加宠物
- modal "添加宠物", "pet"
= partial :'layouts/partials/modal-portal-lg' do
  = partial 'views/guest/pet/modify'

/ 选择会员
- modal "会员", "vip"

- portal "会员", "vip"
= partial :'layouts/partials/modal-portal-select-lg', :locals => {:modal_toolbar => 'close' }  do
  = partial 'layouts/widget/portal', :locals => {:filterbar => "none", :pagingbar => "none", :listdataKey => "portalFields", :inline_toolbar => 'selected', :bordered => "false"} do
    / 无 outline 按钮

/ 添加会员
- modal "添加会员", "vip"
= partial :'layouts/partials/modal-portal-lg' do
  = partial 'views/commons/vip/portal_vip_form'