.row
  .col-md-8
    = partial :'views/commons/vip_header_small'

    - portal '收费单明细', 'statementdetail'
    = partial 'layouts/widget/portal', :locals => {:filterbar => "none", :pagingbar => "none", :inline_toolbar => 'none', :bordered => "false" } do
      / 不输出 outline 按钮

  .col-md-4
    .form-body
      .row
        .col-md-4
          = partial :'layouts/inputs/textview', :locals => { :fieldName => '总项数1', :required => "true", :maxlength => '16'}

        .col-md-4
          = partial :'layouts/inputs/textview', :locals => { :fieldName => '总消费额', :required => "true", :maxlength => '16'}

        .col-md-4
          = partial :'layouts/inputs/textview', :locals => { :fieldName => '优惠总额', :required => "true", :maxlength => '16'}


      .row
        .col-md-4
          = partial :'layouts/inputs/textview', :locals => { :fieldName => '请支付金额', :required => "true", :maxlength => '16'}

        .col-md-4
          = partial :'layouts/inputs/textview', :locals => { :fieldName => '已支付金额', :required => "true", :maxlength => '16'}

        .col-md-4
          = partial :'layouts/inputs/textview', :locals => { :fieldName => '找零', :required => "true", :maxlength => '16'}

    .form-body
      .row
        .col-md-12
          = partial :'layouts/inputs/textview', :locals => { :fieldName => '预付金', :required => "true", :maxlength => '16'}

      .row
        .col-md-4
          = partial :'layouts/inputs/textview', :locals => { :fieldName => '现金', :required => "true", :maxlength => '16'}

        .col-md-4
          = partial :'layouts/inputs/textview', :locals => { :fieldName => '余额', :required => "true", :maxlength => '16'}

        .col-md-4
          = partial :'layouts/inputs/textview', :locals => { :fieldName => '支付宝', :required => "true", :maxlength => '16'}

      .row
        .col-md-4
          = partial :'layouts/inputs/textview', :locals => { :fieldName => '微信', :required => "true", :maxlength => '16'}

        .col-md-4
          = partial :'layouts/inputs/textview', :locals => { :fieldName => '银行卡', :required => "true", :maxlength => '16'}

        .col-md-4
          = partial :'layouts/inputs/textview', :locals => { :fieldName => '折扣', :required => "true", :maxlength => '16'}


