---
layout: "page"
---

- page '处方模板管理', 'prescription'

-#处方模板类型
.row
  .col-md-3
    - portal "横版类型", "prescriptiontype"
    = partial 'layouts/widget/tree', :locals => {:sidename => "横版类型", :sidefieldname=> 'name'}

  .col-md-9
    - portal '处方模板', 'prescripttemplate'
    = partial 'layouts/widget/portal' do
      = partial :'layouts/buttons/insert', :locals => {:click => "#{@portal_id}portal.insert()", :disabled => "!prescriptiontypeportal.selected"}
      = partial :'layouts/buttons/removes', :locals => {:click => "#{@portal_id}portal.removes()", :disabled => "#{@portal_id}portal.isRemoves"}


/ 商品&服务分类
- modal "处方模板", "prescriptiontype"

= partial :'layouts/partials/modal-portal-lg' do
  = partial 'prescriptiontype'

/ 处方模板
- modal '处方模板', 'prescripttemplate'
= partial :'layouts/partials/modal-portal-lg' do
  = partial 'modify'

/ 添加服务项目
- modal "添加服务项目", "product"
= partial :'layouts/partials/modal-portal-full' do
  = partial 'views/commons/product/popup_select'
