-# vipheader
.div{"ng-if": '!itback.id'}
  = partial 'views/commons/vip/_sale_vipheader'
.div{"ng-if": 'itback.id'}
  .row
    .col-md-4
      = partial :'layouts/inputs/textview', :locals => { :fieldName => '会员姓名', :maxlength => '32'}

    .col-md-4
      = partial :'layouts/inputs/textview', :locals => { :fieldName => '会员电话', :maxlength => '32'}


.form-body
  .row
    .col-md-12
      = partial :'layouts/inputs/hidden', :locals => { :fieldName => '会员ID', :maxlength => '32', :required => 'true', "msg" => "会员信息"}

  .row
    .col-md-4
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '退货单号', :maxlength => '32', :required => 'true'}

    .col-md-4
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '总项', :maxlength => '32'}

    .col-md-4
      = partial :'layouts/inputs/textview', :locals => {:fieldName => '退款金额', :maxlength => '32'}

  .row
    .col-md-4
      = partial :'layouts/inputs/text', :locals => {:fieldName => '业务员', :maxlength => '32'}

    .col-md-4
      = partial :'layouts/inputs/text', :locals => {:fieldName => '备注', :maxlength => '2048'}

    .col-md-4
      = partial :'layouts/inputs/text_btn', :locals => {:fieldName => '结算单号', :maxlength => '32', :btnname => '选择', :btnclick => 'saleplateportal.pupupselect()'}

  .row
    .col-md-12
      = partial 'views/commons/product/product_autocomplete'

  - portal "退货明细", "itbackdetail"
  = partial 'layouts/widget/portal', :locals => {:filterbar => "none", :pagingbar => "none", :inline_toolbar => 'remove', :bordered => "false", :selection => "none" } do
    // 不输出按钮

