---
layout: "page"
---

- page "销售退货", "itback"

= partial 'layouts/widget/portal'

/ 编辑
= partial :'layouts/partials/modal-portal-full' do
  = partial 'modify'

/ 选择会员
- portal "选择宠物", "pet"

/ 选择宠物
- modal "选择宠物", "pet"
= partial :'layouts/partials/modal-portal-select-lg', :locals => {:modal_toolbar => 'close' }  do
  - portal "选择宠物", "pet"
  = partial 'layouts/widget/portal', :locals => {:listdataKey=> "portalFields", :inline_toolbar => 'selected', :bordered => "false", :selection => "none"} do
    / 不输出按钮

/ 选择销售单
- modal "结算单", "saleplate"
= partial :'layouts/partials/modal-portal-select-lg', :locals => {:modal_toolbar => 'close' }  do
  - portal "结算单", "saleplate"
  = partial 'layouts/widget/portal', :locals => {:inline_toolbar => 'selected', :bordered => "false", :selection => "none"} do
    / 不输出按钮
