---
layout: "page"
---

- page "挂号查询", "register"

= partial 'layouts/widget/portal', :locals => {:inline_toolbar => 'update|remove', :inline_attr_disabled => "register.paidStatus == 'SM00051' && register.status.dictDetailCode == 'SM00037'"} do
  -#= partial :'layouts/buttons/insert', :locals => {:click => 'registerfastportal.insert()', :label => '快捷挂号'}
  = partial :'layouts/buttons/insert', :locals => {:label => '会员挂号', :click => "registerportal.insert()"}
  = partial :'layouts/buttons/removes'

/ 会员挂号
= partial :'layouts/partials/modal-portal-lg', :locals => {:modal_toolbar => 'register' }  do
  = partial 'modify'

/ 快捷挂号
- modal "快捷挂号", "registerfast"

= partial :'layouts/partials/modal-portal-lg', :locals => {:modal_toolbar => 'register' } do
  = partial 'registerfast'

/ 弹出选择宠物
= partial 'layouts/widget/service_pet_select'