- @modal_id = @modal_id || @page_id

- @modal_name = @modal_name || @page_title

.modal.fade.bs-modal-lg{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1", :id => "#{@modal_id}"}
  .modal-dialog.modal-full
    .modal-content
      %form{:id => "#{@modal_id}form", :name => "#{@modal_id}form", :novalidate => "", "ng-submit" => "#{@modal_id}portal.submit()", :role => "form"}
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
          %h4.modal-title #{@modal_name}

        .modal-body
          %div{:id => "#{@modal_id}_alert"}
          = yield

        .modal-footer
          // 关闭
          - if (!defined? modal_toolbar) || ( modal_toolbar.include? "close" )
            %button.btn.grey-mint.btn-outline{"data-dismiss" => "modal", :type => "button"} 关闭

          // 保存表单
          - if (!defined? modal_toolbar) || ( modal_toolbar.include? "submit" )
            %button.btn.btn-primary{"ng-disabled"=>"#{@modal_id}form.$pristine", :type => "submit"}
              %i.fa.fa-plus
              保存表单

          // 审核按钮
          - if (defined? modal_toolbar) && ( modal_toolbar.include? "auditing" )
            %button.btn.btn-primary{"ng-show"=>"#{@modal_id}portal.auditingoperate == true", :type => "button",  "ng-click"=> "#{@modal_id}portal.auditing()"}
              %i.fa.fa-plus
              审核
