---
layout: "page"
---

- page '支出管理', 'expenditure'

.row
  .col-md-3
    - portal "横版类型", "expendituretype"
    = partial 'layouts/widget/side', :locals => {:name => "费用类别", :id=> 'expendituretype', :fieldName => "cateName"}

  .col-md-9
    - portal '支出管理', 'expenditure'
    = partial 'layouts/widget/portal', :locals => {:filterbar => "none", :pagingbar => "none"}

/ 编辑

= partial :'layouts/partials/modal-portal-lg' do
  = partial 'modify'

/ 服务商品分类
- modal "支出分类", "expendituretype"
= partial :'layouts/partials/_modal-portal-lg' do
  = partial 'expendituretype'

