-# 医生处方
.row
  .col-md-3
    - portal "医生处方", "doctorprescript"
    = partial 'layouts/widget/side', :locals => {:name => "分类", :id=> 'doctorprescript', :fieldName => "prescriptionCode", :modal_caption => "none", "light" => "none"} do
      = partial :'layouts/buttons/remove', :locals => {:click => 'doctorprescriptportal.remove()', :disabled => "!doctorprescriptportal.selectedId"}
      = partial :'layouts/buttons/insert', :locals => {:click => 'doctorprescriptportal.insert()'}
      = partial :'layouts/buttons/update', :locals => {:click => 'doctorprescriptportal.update(doctorprescriptportal.selectedId)', :disabled => "!doctorprescriptportal.selectedId"}

  .col-md-9
    -# 处置处方
    - portal '医生处方明细', 'doctorprescriptdetail'
    = partial 'layouts/widget/portal', :locals => {:filterbar => "none", :pagingbar => "none", :inline_toolbar => 'none', :selection => "none", :pagefilter => "orderBy:'groupName':false" }  do
      = partial :'layouts/buttons/print', :locals => {:click => 'doctorprescriptportal.print()', :disabled => "!doctorprescriptportal.selectedId"}