
- portal '商品与服务管理', 'doctorprescriptdetail'

- @portal_id = @portal_id || @page_id

- @portal_name = @portal_name || @page_title

- @portal_object = "" << @portal_id << "portal"

- $pagefilter = (defined? pagefilter)? " | filter: " << pagefilter : (defined? filterbar) && filterbar == "page"? " | filter: pageFilterText": ""

- @portal_prefix = @module[@portal_id]

- @portal = data["" << @module[@portal_id] << "-" << @portal_id]

- $listdataKey = "printFields";

- $print_page = ((defined? print_page) ? print_page: "一")

%div.print-body-html{ "ng-repeat" => @portal_id + "2d in " + @portal_id + "2ds" + $pagefilter}

  .page-header{:style => 'padding-top: 0;margin-top: 0px'}
    %img{:src => '/assets/images/logo-fiona.png'}

  %center{"ng-if" => "$index == 0"}
    %h1 北京福莱动物医院处方笺

  %table.table-print-noborder{"ng-if" => "$index == 0"}
    %tbody
      %tr
        %th{:style => "width: 160px",:colspan => "2"} 动物主人/饲养单位
        %td{:style => "border-bottom:1px #000000 solid;",:colspan => "3"} {{vip.gestName}}({{vip.mobilePhone}})[{{pet.petName}}]

        %th{:style => "width: 70px"} 档案号
        %td{:style => "border-bottom:1px #000000 solid;"} {{pet.sickFileCode}}

      %tr
        %th{:style => "width: 70px"} 动物种类
        %td{:style => "border-bottom:1px #000000 solid;",:colspan => "2"} {{pet.petRace.type}}

        %th{:style => "width: 70px"} 动物性别
        %td{:style => "border-bottom:1px #000000 solid;"} {{pet.petSex.valueNameCn}}

        %th{:style => "width: 50px"} 体重/数量
        %td{:style => "border-bottom:1px #000000 solid;"} {{pet.petWeight}} kg

      %tr
        %th{:style => "width: 70px"} 年(日)龄
        %td{:style => "border-bottom:1px #000000 solid;"} {{pet.age}}

        %th{:style => "width: 70px"} 开具日期
        %td{:style => "border-bottom:1px #000000 solid;",:colspan => "4"} {{nowtime | date:"yyyy年MM月dd日 HH:mm:ss"}}
      %tr
        %td{:colspan => "7"}

  -# 嵌套模块
  %table.table-print-noborder
    %tbody
      %tr{:style => "border-top:2px #000000 solid;"}
        %th{:style => "width: 70px"} 诊断:
        %td{:style => "border-right:2px #000000 solid;"}
        %th{:style => "width: 70px"} Rp:
        %td
        %td{:style => "writing-mode:rl-tb;width:16px",:rowspan => "28"} #{$print_page}

      %tr{:style => "border-bottom:2px #000000 solid;"}
        %td{:colspan => "2",:style => "border-right:2px #000000 solid; vertical-align: top"} {{curemanager.diagnosed}}
        %td{:colspan => "2"}
          %table.small-border
            %tbody
              %tr
                - @portal[$listdataKey].each do |field|
                  %td #{field.aliasName || field.fieldName}

              %tr{ "ng-repeat" => @portal_id + " in " + @portal_id + "2d" + $pagefilter + " | orderBy:'groupName':false"}
                - @portal[$listdataKey].each do |column|
                  %td{:stye => "padding-top: 0px;padding-bottom: 0px;border: 1px solid red;"}
                    - if column.filter?
                      = bindFilter @portal_id, (column.fieldKey || @portal.fields[column.fieldName] || 'error'), column.filter

                    - elsif column.input? && column.input == "select"
                      = bindSelect column.input, @portal_id, (column.fieldKey || @portal.fields[column.fieldName] || 'error'), column.options

                    - elsif column.input?
                      - if column.event?
                        = bindTextEvent column.input, @portal_id, (column.fieldKey || @portal.fields[column.fieldName] || 'error'), column.event

                      - else
                        = bindText column.input, @portal_id, (column.fieldKey || @portal.fields[column.fieldName] || 'error')

                    - else
                      = bind @portal_id, (column.fieldKey || @portal.fields[column.fieldName] || 'error')

  %table.table-print-noborder
    %tbody
      %tr
        %th{:style => "width: 90px"} 执业兽医师
        %td{:style => "width: 90px;border-bottom:1px #000000 solid;"}

        %th{:style => "width: 60px"} 注册号
        %td{:style => "width: 90px;border-bottom:1px #000000 solid;"}

        %th{:style => "width: 60px"} 发药人
        %td{:style => "width: 90px;border-bottom:1px #000000 solid;"}

        %td.text-right.h4 费用: {{doctorprescript.prescriptionCost | currency:"￥"}}&nbsp;&nbsp;&nbsp;&nbsp;

  .text-right
    医院电话: {{hospital.telPhone}}
    医院地址: {{hospital.areaCode}}
