
- portal '商品与服务管理', 'doctorprescriptdetail'

- @portal_id = @portal_id || @page_id

- @portal_name = @portal_name || @page_title

- @portal_object = "" << @portal_id << "portal"

- $pagefilter = (defined? pagefilter)? " | filter: " << pagefilter : (defined? filterbar) && filterbar == "page"? " | filter: pageFilterText": ""

- @portal_prefix = @module[@portal_id]

- @portal = data["" << @module[@portal_id] << "-" << @portal_id]

- $listdataKey = "printFields";

%div.print-body-html{ "ng-repeat" => @portal_id + "2d in " + @portal_id + "2ds" + $pagefilter}

  .page-header{:style => 'padding-top: 0;margin-top: 0px'}
    %img{:src => 'http://192.168.0.108:8080/assets/images/logo-fiona.png'}

  %center{"ng-if" => "$index == 0"}
    %h1 北京福莱动物医院处方单

  %table.table-print-noborder{"ng-if" => "$index == 0"}
    %tbody
      %tr
        %th{:style => "width: 70px"} 会员姓名
        %td {{vip.gestName}}

        %th{:style => "width: 70px"} 会员电话
        %td {{vip.mobilePhone}}

        %th{:style => "width: 70px"} 病历号
        %td{:colspan => "7"} {{pet.sickFileCode}}

      %tr
        %th{:style => "width: 70px"} 住址
        %td{:colspan => "9"} {{vip.gestAddress}}

      %tr
        %th{:style => "width: 70px"} 宠物昵称
        %td {{pet.petName}}

        %th{:style => "width: 70px"} 年龄
        %td {{pet.age}} 岁

        %th{:style => "width: 70px"} 宠物性别
        %td {{pet.petSex.valueNameCn}}

        %th{:style => "width: 50px"} 体重
        %td {{pet.petWeight}} kg

        %th{:style => "width: 50px"} 体温
        %td {{curemanager.temperature}}

      %tr
        %th{:style => "width: 70px"} 临床诊断
        %td{"colspan" => "9"} {{curemanager.diagnosed}}

  -# 嵌套模块
  %table.table.table-bordered
    %tbody
      %tr
        - @portal[$listdataKey].each do |field|
          %td #{field.aliasName || field.fieldName}

      %tr{ "ng-repeat" => @portal_id + " in " + @portal_id + "2d" + $pagefilter + " | orderBy:'groupName':false"}
        - @portal[$listdataKey].each do |column|
          %td
            - if column.filter?
              = bindFilter @portal_id, (column.fieldKey || @portal.fields[column.fieldName] || 'error'), column.filter

            - elsif column.input? && column.input == "select"
              = bindSelect column.input, @portal_id, (column.fieldKey || @portal.fields[column.fieldName] || 'error'), column.options

            - elsif column.input?
              - if column.event?
                = bindTextEvent column.input, @portal_id, (column.fieldKey || @portal.fields[column.fieldName] || 'error'), column.event

              - else
                = bindText column.input, @portal_id, (column.fieldKey || @portal.fields[column.fieldName] || 'error')

            - else
              = bind @portal_id, (column.fieldKey || @portal.fields[column.fieldName] || 'error')


  %table.table-print-noborder
    %tbody
      %tr
        %th{:style => "width: 90px"} 诊疗医生
        %td{:style => "width: 180px"}

        %th{:style => "width: 90px"}  助理医生
        %td{:style => "width: 180px"}

        %td.text-right.h4{"ng-if" => "$last"} 费用: {{doctorprescript.prescriptionCost | currency:"￥"}}

      %tr
        %th{:colspan => "5"}

      %tr
        %th{:colspan => "5"}

      %tr
        %th{:colspan => "5"}

  .text-right
    医院电话: {{hospital.telPhone}}

    %p 医院地址: {{hospital.areaCode}}

  %h5
    .text-right
      {{nowtime | date:"yyyy年MM月dd日 HH:mm:ss"}}

    此处方1天有效

%div.print-body-html{"ng-if" => "lastpagebreak"}

  .page-header{:style => 'padding-top: 0;margin-top: 0px'}
    %img{:src => 'http://192.168.0.108:8080/assets/images/logo-fiona.png'}

  %table.table-print-noborder
    %tbody
      %tr
        %th{:style => "width: 90px"} 诊疗医生
        %td{:style => "width: 180px"}

        %th{:style => "width: 90px"}  助理医生
        %td{:style => "width: 180px"}

        %td.text-right.h4 费用: {{doctorprescript.prescriptionCost | currency:"￥"}}

      %tr
        %th{:colspan => "5"}

      %tr
        %th{:colspan => "5"}

      %tr
        %th{:colspan => "5"}

  .text-right
    医院电话: {{hospital.telPhone}}

    %p 医院地址: {{hospital.areaCode}}

  %h5
    .text-right
      {{nowtime | date:"yyyy年MM月dd日 HH:mm:ss"}}
    此处方1天有效