---
layout: "page"
---
- page '就诊管理', 'curemanager'

.row
  .col-md-3
    .tabbable-line
      %ul#curelist.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "//#play_pets"}
            %i.fa.fa-play
            就诊
            -#%span.badge.badge-success 3
        %li
          %a{"data-toggle" => "tab", :href => "//#pause_pets"}
            %i.fa.fa-pause
            暂停
            -#%span.badge.badge-danger 3
        %li
          %a{"data-toggle" => "tab", :href => "//#cure_pet", "ng" => {"show":"pet.id"}}
            %i.fa.fa-paw
            宠物

      .tab-content{:style => "padding-top: 5px;"}
        -# 待诊列表
        #play_pets.tab-pane.active
          -#.clearfix
          -#  %button.btn.btn-success{:type => "button"}
          -#    %i.fa.fa-user
          -#    快捷
          -#  %button.btn.btn-info{:type => "button"}
          -#    %i.fa.fa-user
          -#    会员
          -#%br
          %div.list-group
            %a.list-group-item{:href => 'javascript:;', "ng": {"click": "play(node)", "repeat" => "node in plays", "class": '{active: register.id == node.id}'}}
              %img{"ng" => {"src": "/assets/images/pet{{$index+1}}.png"}, :width => "45px"}
              %label{:style => "font-size: 15px;padding-left: 5px;"} {{node.gestName}}

        -# 暂停列表
        #pause_pets.tab-pane
          -#.clearfix
          -#  %button.btn.btn-success{:type => "button"} 快捷
          -#  %button.btn.btn-info{:type => "button"} 会员
          -#%br
          %div.list-group
            %a.list-group-item{:href => 'javascript:;', "ng": {"click": "play(node)", "repeat" => "node in pauses", "class": '{active: register.id == node.id}' }}
              %img{"ng" => {"src": "/assets/images/pet{{$index+1}}.png"}, :width => "45px"}
              %label{:style => "font-size: 15px;padding-left: 5px;"} {{node.gestName}}

        #cure_pet.tab-pane
          .clearfix.text-center{:style => "margin-bottom: 5px;"}
            %button.btn.btn-warning{:type => "button", "ng-click" => "pause()", "ng-show" => "register.status.dictDetailCode == 'SM00035'"}
              %i.fa.fa-pause
              暂停

            %button.btn.btn-success{:type => "button", "ng-click" => "replay()", "ng-show" => "register.status.dictDetailCode == 'SM00036'"}
              %i.fa.fa-undo
              重新

            %button.btn.btn-danger{:type => "button", "ng-click" => "stop()", "ng-show" => "register.status.dictDetailCode != 'SM00037'"}
              %i.fa.fa-stop
              结束

            -#%button.btn.btn-info{:type => "button", "ng-click" => "", "ng-show" => "register.status.dictDetailCode == 'SM00035'"}
            -#  %i.fa.fa-file
            -#    疫苗登记

          = partial 'layouts/widget/service_pet' do
            = partial :'layouts/buttons/btn_pruple', :locals => {:label => "历史病历", :click => "curemanagerportal.history()", :icon => "fa-history"}

          / BEGIN BORDERED TABLE PORTLET
          .portlet.light.bordered{"ng-show" => "historyview == 'view'"}
            .portlet-title
              .caption
                %i.fa.fa-paw
                %span.caption-subject.font-dark.sbold.uppercase 诊断历史
              .actions
                = partial :'layouts/buttons/btn_pruple', :locals => {:label => "返回当前", :click => "curemanagerportal.underway()", :icon => "fa-arrow-circle-left "}

            .portlet-body
              .table-scrollable
                %table.table.table-striped.table-bordered.table-advance.table-hover
                  %thead
                    %tr
                      %th #
                      %th 诊断日期
                      %th 医生
                      %th
                  %tbody
                    %tr.cursor-pointer{"ng" => {"class":"{warning: _curemanager.id == curemanager.id}", "repeat": "_curemanager in curemanagers", "click": "curemanagerportal.switched(_curemanager)"}}
                      %td {{$index + 1}}
                      %td {{ _curemanager.createDate | date:"yyyy年MM月dd日"}}
                      %td {{ _curemanager.doctor}}
                      %td
                        %span.fa.fa-arrow-circle-right

  .col-md-9{"ng" => {"show":"curemanager.id && register.status.dictDetailCode == 'SM00035'"}}
    .tabbable-line
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "//#pets_diagnose"}
            诊断信息

        -#%li
        -#  %a{"data-toggle" => "tab", :href => "//#pets_testing"}
        -#    化验信息
        -#
        -#%li
        -#  %a{"data-toggle" => "tab", :href => "//#pets_xrayed"}
        -#    影像检查

        %li
          %a{"data-toggle" => "tab", :href => "//#pets_recipe"}
            处置处方

      .tab-content
        #pets_diagnose.tab-pane.active

          - modal '就诊管理', 'curemanager'

          %form{:id => "#{@modal_id}form", :name => "#{@modal_id}form", :novalidate => "", "ng-submit" => "#{@modal_id}portal.submit()", :role => "form"}
            .form-body
              .row
                .col-md-12
                  = partial :'layouts/inputs/textview', :locals => {:fieldName => '就诊编号', :maxlength => '16', :required => "true"}

              .row
                .col-md-3
                  = partial :'layouts/inputs/text', :locals => {:keyword => "curemanager", :fieldName => '体温', :maxlength => '32'}

                .col-md-3
                  = partial :'layouts/inputs/text', :locals => {:keyword => "curemanager", :fieldName => '心跳', :maxlength => '32'}

                .col-md-3
                  = partial :'layouts/inputs/text', :locals => {:keyword => "curemanager", :fieldName => '呼吸', :maxlength => '32'}

                .col-md-3
                  = partial :'layouts/inputs/text', :locals => {:keyword => "curemanager", :fieldName => '血压', :maxlength => '32'}

              .row
                .col-md-12
                  = partial :'layouts/inputs/textarea', :locals => {:keyword => "curemanager", :fieldName => '主述', :maxlength => '1024'}

              .row
                .col-md-12
                  = partial :'layouts/inputs/textarea', :locals => {:keyword => "curemanager", :fieldName => '临床检查', :maxlength => '1024'}

              .rowv  v
                .col-md-12
                  = partial :'layouts/inputs/textarea', :locals => {:keyword => "curemanager", :fieldName => '医生诊断', :maxlength => '1024'}

              .row
                .col-md-12
                  = partial :'layouts/inputs/textarea', :locals => {:keyword => "curemanager", :fieldName => '医嘱', :maxlength => '1024'}

              .row
                .col-md-12.text-center
                  = partial :'layouts/buttons/submit', :locals => {:label => "保存诊断信息", :icon => "fa-save", :disabled => "!curemanager.id"}

        -#-# 化验单
        -##pets_testing.tab-pane
        -#  = partial :'testsheet'
        -#
        -#-# X光影像
        -##pets_xrayed.tab-pane
        -#  = partial :'xrayed'

        -# 处方
        #pets_recipe.tab-pane
          = partial :'doctorprescript'

/ 选择处方模板
- modal "处方模板", "doctorprescript"
= partial :'layouts/partials/modal-portal-full', :locals => {:filterbar => "none", :pagingbar => "none"}  do
  = partial 'prescripttemplate'

/ 打印处方
- modal "打印处方", "doctorprescript"
= partial :'layouts/widget/modal_print' do
  = partial 'print_body'
