---
layout: "page"
---
- page '就诊管理', 'curemanager'

.row
  .col-md-3
    .tabbable-line
      %ul#curelist.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "//#play_pets"}
            就诊
            %span.badge.badge-success 3
        %li
          %a{"data-toggle" => "tab", :href => "//#pause_pets"}
            暂停
            %span.badge.badge-danger 3
        %li
          %a{"data-toggle" => "tab", :href => "//#cure_pet"}
            宠物

      .tab-content
        -# 待诊列表
        #play_pets.tab-pane.active
          -#.clearfix
          -#  %button.btn.btn-success{:type => "button"}
          -#    %i.fa.fa-user
          -#    快捷
          -#  %button.btn.btn-info{:type => "button"}
          -#    %i.fa.fa-user
          -#    会员
          -#%br
          %div.list-group
            %a.list-group-item{:href => 'javascript:;', "ng": {"click": "play(node)", "repeat" => "node in registers", "class": '{active: register.id == node.id}'}}
              %img{"ng" => {"src": "/assets/images/pet{{$index+1}}.png"}, :width => "45px"}
              %label{:style => "font-size: 15px;padding-left: 5px;"} {{node.gestName}}

        -# 暂停列表
        #pause_pets.tab-pane
          -#.clearfix
          -#  %button.btn.btn-success{:type => "button"} 快捷
          -#  %button.btn.btn-info{:type => "button"} 会员
          -#%br
          %div.list-group
            %a.list-group-item{:href => 'javascript:;', "ng": {"click": "play(node)", "repeat" => "node in registers", "class": '{active: register.id == node.id}' }}
              %img{"ng" => {"src": "/assets/images/pet{{$index+1}}.png"}, :width => "45px"}
              %label{:style => "font-size: 15px;padding-left: 5px;"} {{node.gestName}}

        #cure_pet.tab-pane
          .clearfix
            %button.btn.btn-warning{:type => "button"}
              %i.fa.fa-pause
              暂停诊断
            %button.btn.btn-danger{:type => "button"}
              %i.fa.fa-stop
              结束诊断
            %button.btn.btn-info{:type => "button"}
              %i.fa.fa-file
              疫苗登记

          = partial :'views/commons/pet/portal_pet_view', :locals => {:model => 'readonly'}

  .col-md-9{"ng" => {"show":"curemanager.id"}}
    .tabbable-line
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "//#pets_diagnose"}
            诊断信息

        -#%li
        -#  %a{"data-toggle" => "tab", :href => "//#pets_testing"}
        -#    化验信息
        -#
        -#%li
        -#  %a{"data-toggle" => "tab", :href => "//#pets_xrayed"}
        -#    影像检查

        %li
          %a{"data-toggle" => "tab", :href => "//#pets_recipe"}
            处置处方

      .tab-content
        #pets_diagnose.tab-pane.active

          - modal '就诊管理', 'curemanager'

          %form{:id => "#{@modal_id}form", :name => "#{@modal_id}form", :novalidate => "", "ng-submit" => "#{@modal_id}portal.submit()", :role => "form"}
            .form-body
              .row
                .col-md-12
                  = partial :'layouts/inputs/textview', :locals => {:fieldName => '就诊编号', :maxlength => '16', :required => "true"}

              .row
                .col-md-3
                  = partial :'layouts/inputs/text', :locals => {:keyword => "curemanager", :fieldName => '体温', :maxlength => '32'}

                .col-md-3
                  = partial :'layouts/inputs/text', :locals => {:keyword => "curemanager", :fieldName => '心跳', :maxlength => '32'}

                .col-md-3
                  = partial :'layouts/inputs/text', :locals => {:keyword => "curemanager", :fieldName => '呼吸', :maxlength => '32'}

                .col-md-3
                  = partial :'layouts/inputs/text', :locals => {:keyword => "curemanager", :fieldName => '血压', :maxlength => '32'}

              .row
                .col-md-12
                  = partial :'layouts/inputs/textarea', :locals => {:keyword => "curemanager", :fieldName => '主述', :maxlength => '32'}

              .row
                .col-md-12
                  = partial :'layouts/inputs/textarea', :locals => {:keyword => "curemanager", :fieldName => '临床检查', :maxlength => '32'}

              .row
                .col-md-12
                  = partial :'layouts/inputs/textarea', :locals => {:keyword => "curemanager", :fieldName => '医生诊断', :maxlength => '32'}

              .row
                .col-md-12
                  = partial :'layouts/inputs/textarea', :locals => {:keyword => "curemanager", :fieldName => '医嘱', :maxlength => '32'}

              .row
                .col-md-12.text-center
                  = partial :'layouts/buttons/submit', :locals => {:label => "保存诊断信息", :icon => "fa-save", :disabled => "!curemanager.id"}

        -#-# 化验单
        -##pets_testing.tab-pane
        -#  = partial :'testsheet'
        -#
        -#-# X光影像
        -##pets_xrayed.tab-pane
        -#  = partial :'xrayed'

        -# 处方
        #pets_recipe.tab-pane
          = partial :'doctorprescript'

/ 选择处方模板
- modal "处方模板", "doctorprescript"
= partial :'layouts/partials/modal-portal-full', :locals => {:filterbar => "none", :pagingbar => "none"}  do
  = partial 'prescripttemplate'

/ 选择商品
- modal "选择商品", "product"
= partial :'layouts/partials/modal-portal-select-full' do
  = partial 'layouts/widget/service_product_select'

- modal "打印处方", "doctorprescript"
= partial :'layouts/widget/modal_print' do
  = partial 'print_body'
