- page '宠物管理', 'pet'

- content_for :toolbar do
  = partial :'layouts/buttons/insert'
  = partial :'layouts/buttons/removes'

- content_for :theader do
  - @page.listFields.each do |field|
    %th #{field.aliasName || field.fieldName}

- content_for :tbody do
  - @page.listFields.each do |column|
    %td
      = bind @page_id, (column.fieldKey || @fields[column.fieldName] || 'error')

/ 编辑
= partial :'layouts/partials/modal-lg' do
  = partial 'modify'

/ 选择会员
- portal "选择会员", "vip"

= partial :'views/commons/vip/portal_vip' do
  = partial :'layouts/buttons/insert', :locals => {:click => 'productportal.insert()'}
  = partial :'layouts/buttons/removes', :locals => {:click => 'productportal.removes()', 'disabled': 'isRemoves'}

/ 添加会员
- modal "添加会员", "vip"
= partial :'layouts/partials/modal-portal-lg' do
  = partial 'views/commons/vip/portal_vip_form'
