---
layout: "page"
---

- page '检测查询', 'check'

= partial 'layouts/widget/portal'

/ 编辑
= partial :'layouts/partials/modal-lg' do
  = partial 'modify'

/ 选择病历号
- modal "选择病历号", "cases"

= partial :'layouts/partials/modal-lg' do
  = partial 'cases'

/ 选择关联单号
- modal "选择关联单号", "joincheck"

= partial :'layouts/partials/modal-lg' do
  = partial 'joincheck'

/ 选择检验部位
- modal "选择检验部位", "checkpart"

= partial :'layouts/partials/modal-lg' do
  = partial 'checkpart'
