.form-body
  .row
    .col-md-12
      = partial :'layouts/inputs/date', :locals => {:keyword => 'vip', :fieldName => '预约会诊日期', :maxlength => '16'}

  .row
    .col-md-6
      = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '预约人', :maxlength => '16'}

    .col-md-6
      = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '预约人电话', :maxlength => '16'}
  .row
    .col-md-6
      = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '员工', :maxlength => '16'}

    .col-md-6
      = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '员工手机号', :maxlength => '16'}

  .row
    .col-md-6
      = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '宠物名称', :maxlength => '16'}

    .col-md-6
      = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '宠物年龄', :maxlength => '16'}

  .row
    .col-md-12
      = partial :'layouts/inputs/textarea', :locals => {:keyword => 'vip', :fieldName => '症状', :maxlength => '16'}

  .row
    .col-md-12
      = partial :'layouts/inputs/textarea', :locals => {:keyword => 'vip', :fieldName => '期望的帮助', :maxlength => '16'}

  .row
    .col-md-6
      = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '当前状态', :maxlength => '16'}

    .col-md-6
      = partial :'layouts/inputs/text', :locals => {:keyword => 'vip', :fieldName => '操作人', :maxlength => '16'}
