/ BEGIN SAMPLE FORM PORTLET
.row
  .col-md-3
    = partial 'layouts/widget/service_pet'

  .col-md-9
    .portlet.light.bordered
      .portlet-title
        .caption
          %i.fa.fa-file
          %span.caption-subject.font-dark.sbold.uppercase 疫苗选项

      .portlet-body.form
        -#住院登记表单
        .row
          .col-md-3
            = partial :'layouts/inputs/textview', :locals => { :fieldName => '组号', :maxlength => '16'}


          .col-md-3
            = partial :'layouts/inputs/select', :locals => {:fieldName => '主治医生', :options => "type.id as type.personName for type in dropdowns.doctorIdSet"}

          .col-md-3
            = partial :'layouts/inputs/select', :locals => {:fieldName => '助理医生', :options => "type.id as type.personName for type in dropdowns.assistantDoctorIdSet"}

          .col-md-3
            = partial :'layouts/inputs/textview', :locals => { :fieldName => '合计金额', :maxlength => '16'}

        .row
          .col-md-12
            = partial 'views/commons/product/product_autocomplete'

        - portal "驱虫疫苗明细", "invaccinedetail"
        = partial 'layouts/widget/portal', :locals => {:filterbar => "none", :pagingbar => "none", :inline_toolbar => 'remove', :bordered => "false" }



