---
layout: "page"
---
- page '疫苗登记', "invaccine"

= partial 'layouts/widget/portal', :locals => {:inline_toolbar => 'remove'}  do
  = partial :'layouts/buttons/insert', :locals => {:click => "#{@portal_id}portal.insert()"}
  = partial :'layouts/buttons/removes', :locals => {:click => "#{@portal_id}portal.removes()", :disabled => "#{@portal_id}portal.isRemoves"}

= partial :'layouts/partials/modal-portal-full' do
  = partial 'modify'

- modal "添加疫苗", "vaccines"

= partial :'layouts/partials/modal-lg' do
  = partial 'vaccines'

/ 选择宠物
- portal "选择宠物", "pet"

= partial :'views/commons/pet/portal_pet' do
  = partial :'layouts/buttons/insert', :locals => {:click => 'productportal.insert()'}
  = partial :'layouts/buttons/removes', :locals => {:click => 'productportal.removes()', 'disabled': 'isRemoves'}

/ 添加宠物
- modal "添加宠物", "pet"
= partial :'layouts/partials/modal-portal-lg' do
  = partial 'views/commons/pet/portal_pet_form'
