---
layout: "page"
---

- page '宠物品种管理', 'varietie'

.row
  .col-md-3
    - portal "种类", "varietietype"
    = partial 'layouts/widget/side', :locals => {:name => "分类", :id=> 'varietietype', :fieldName => "name"}

  .col-md-9
    - portal '宠物品种管理', 'varietie'
    = partial 'layouts/widget/portal', :locals => {:pagefilter => "varietietypeportal.selectedId", :filterbar => "none", :pagingbar => "none"}

/ 宠物品种
- modal "宠物品种", "varietie"

= partial :'layouts/partials/modal-portal-lg' do
  = partial 'modify'

/ 种类
- modal "种类", "varietietype"

= partial :'layouts/partials/modal-portal-lg' do
  = partial 'pettype'
