/ BEGIN SAMPLE FORM PORTLET
.row
  .col-md-3
    = partial 'layouts/widget/service_pet' do
      // 不输出

  .col-md-9
    -#住院登记表单
    = partial :'layouts/inputs/hidden', :locals => { :fieldName => '宠物ID', :maxlength => '32', :required => 'true', "msg" => "宠物信息"}

    .row
      .col-md-4
        = partial :'layouts/inputs/textview', :locals => { :fieldName => '住院号', :maxlength => '16'}

      -#.col-md-3
        -#= partial :'layouts/inputs/select', :locals => {:fieldName => '住院类型', :options => "type.itemCode as type.itemName for type in dropdowns.itemCodeSet"}

      .col-md-2
        = partial :'layouts/inputs/textview', :locals => { :fieldName => '开始日期', :maxlength => '16'}

      .col-md-2
        = partial :'layouts/inputs/textview', :locals => { :fieldName => '结束日期', :maxlength => '16'}

      .col-md-3
        = partial :'layouts/inputs/textview', :locals => { :fieldName => '预计天数', :maxlength => '16'}

    .row
      .col-md-4
        = partial :'layouts/inputs/textview', :locals => { :fieldName => '笼舍编号', :maxlength => '16', :required => "true"}

      -#.col-md-3
      -#  = partial :'layouts/inputs/number', :locals => { :fieldName => '价格', :maxlength => '16'}

      .col-md-2
        = partial :'layouts/inputs/textview', :locals => { :fieldName => '预付金', :maxlength => '16'}

      .col-md-2
        = partial :'layouts/inputs/textview', :locals => {:fieldName => '主管人员', :fieldKey => 'managerBy'}

      .col-md-3
        = partial :'layouts/inputs/textview', :locals => {:fieldName => '业务员', :fieldKey => 'manufacturerName'}

    .row
      .col-md-12
        = partial :'layouts/inputs/textview', :locals => { :fieldName => '住院诊断', :maxlength => '16'}

    .tabbable-line
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "//#inhospital_recipeview"} 住院处方

        %li
          %a{"data-toggle" => "tab", :href => "//#inhospital_prepayview"} 预付金记录

        -#%li.active
        -#  %a{"data-toggle" => "tab", :href => "//#inhospital_consume"} 住院期间消费

        -#%li
        -#  %a{"data-toggle" => "tab", :href => "//#inhospital_health"} 健康状态记录

      .tab-content
        -#-#住院期间消费
        -##inhospital_consume.tab-pane.active
        -#  .row
        -#    .col-md-12
        -#      总金额: {{inhospital.totalMoney | currency:"￥"}}, 总项数: {{inhospital.totalCount}}
        -#
        -#  .row
        -#    .col-md-12
        -#      -#= partial 'views/commons/product/product_autocomplete'
        -#      %angucomplete#inhospitalautocomplete{ "placeholder" => "请输入查询项", "pause" => "300", "on-send" => "onselectinhospital()", "selectedobject" => "selectedProduct", "localdata" => "products", "searchfields" => "itemStyle,itemName,itemStandard,inputCode", "titlefield" => "itemStyle,itemName,itemStandard,inputCode", "descriptionfield" => "itemStyle, itemStandard", "minlength" => "1", "inputclass" => "form-control form-control-small", "matchclass" => "highlight" }
        -#
        -#  - portal "住院期间消费", "inhospitaldetail"
        -#  = partial 'layouts/widget/portal', :locals => {:filterbar => "none", :pagingbar => "none", :inline_toolbar => 'remove', :bordered => "false" }

        -#住院处方
        #inhospital_recipeview.tab-pane.active
          = partial :'inhospitalprescriptionview'

        -#预付金记录
        #inhospital_prepayview.tab-pane
          - portal "预付金额记录", "vipprepay"

          = partial :'layouts/widget/portal', :locals => {:filterbar => "none", :pagingbar => "none", :inline_toolbar => 'none' } do
            // 不输出

        -#健康状态记录
        -##inhospital_health.tab-pane
        -#  - portal "健康状态记录", "inhospitalhealth"
        -#
        -#  = partial :'layouts/widget/portal', :locals => {:filterbar => "none", :pagingbar => "none", :inline_toolbar => 'remove' }  do
        -#    = partial :'layouts/buttons/insert', :locals => {:click => 'inhospitalhealthportal.insert()'}
